$light-black: #444;
$small-padding: 2rem;
$pink: #ec4496;
$orange: #f1803a;
$red: #ed3835;
$light-orange: #fdf0e8;
$ligt-gray: #eee;

@mixin margin-reset {
    margin: 0;
}

body {
    background-color: #fff;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 1rem;
    box-shadow: 0px 5px 15px rgb(180, 179, 179);
    font-family: 'Inter', sans-serif;
}

header .header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;

    .hamburger {
        background: url('assets/menu-icon.png') center / 1.35rem no-repeat;
        border: none;
        height: 2rem;
        width: 2rem;
    }   
}

header .menu-2 {
    display: none;
}

hr.break {        
    height: 2px;
    background-color: $ligt-gray;
    border: none;
    margin-bottom: 4rem;
    margin-right: 0rem;
    margin-left: -2rem;
}

.info {
    background: url('assets/graphic.svg') top 5px right -175px no-repeat; 
    background-size: 23rem; 
    height: 50vh; 
    min-width: 200px; 
    padding: 0 2rem; 
    padding-top: 4rem;
    padding-bottom: 5rem;

    div {
        max-width: 250px;
    }

    h4 {
        color: rgb(212, 56, 116);
        font-size: 0.8rem;
        letter-spacing: 0.15rem;
    }

    h1 {
        font-size: 2.6rem;
        font-weight: 900;
    }

    p {
        color: $light-black;
        font-size: 1.12rem;
        line-height: 1.5;
        padding-bottom: 1rem;
    }

    // apvalaus mygtuko tvarkymas
    button {
    // mygtuko resetas  
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    line-height: normal;
    background: none;
    // mygtuko stylinimas 
    border: double 4px transparent;
    background-clip: content-box, border-box;
    background-image:
        linear-gradient(white, white),
        radial-gradient(circle at top left, $red, rgb(228, 171, 49));
    background-origin: border-box;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2rem;
    height: 70px;
    position: relative;
    width: 180px;    
    }

    a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    a:hover {
        color: $pink;
    } 
}

.offer {
    background: url('assets/background.svg') no-repeat;
    background-size: cover;
    background-position: left -45rem bottom -1rem;
    height: 20vh;
    padding: $small-padding;
    padding-top: 7rem;
    padding-bottom: 4rem;

    h1{
        font-size: 2.3rem;
        font-weight: 500;
        margin-top: 0;
    }

    p {
        font-size: 1.15rem;
        line-height: 1.5;
        font-weight: 400;
    }
}

.companies {
    
    .logos {
        display: grid;
        height: 13vh;
        gap: 0.8rem 0.8rem;
        padding: $small-padding;
        padding-top: 3rem;
        grid-template-columns:145px 90px;
        grid-template-rows: 50px 50px;
        grid-template-areas:
        "img-2 img-1"
        "img-3 img-5";

        .img-1 {
            display: flex;
            grid-area: img-1;
            width: 10rem;            
        }

        .img-2 {
            background-color: white;
            display: flex;
            grid-area: img-2;
            width: 7rem;
        }

        .img-3 {
            display: flex;
            grid-area: img-3;
            width: 6rem;
        }

        .img-4 {
            display: none;
            grid-area: img-4;
            width: 10rem;
        }

        .img-5 {
            display: flex;
            grid-area: img-5;
            width: 8rem;
        }
    }

    h1, p {
        padding: $small-padding;
    }

    h1 {
        @include margin-reset;
        font-size: 2.3rem;
        font-weight: 500; 
        padding: 0 2rem;
    }

    p {
        @include margin-reset;
        color: $light-black;
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

.nfts {
    display: flex;
    padding: 1rem;
    overflow: auto;
    white-space: nowrap;

    img {
         margin-left: 1rem;
    }

    table {
        background-color: #EEEEEE;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        margin-left: 1rem;
        padding: 1rem;
        width: 95%;

        .orange-color {
            color: orange;
            font-size: 0.7rem;
            padding-bottom: 0.5rem;
            text-align: left;
        }

        .small-letters {
            color: #666;
            font-size: 0.7rem;
            font-weight: 600;
            padding-bottom: 0.5rem;
        }

       .small-letters, .td-1:last-child, td:last-child {
            text-align: right;
        }

        .td-1 {
            font-weight: bold;
            padding-bottom: 0.5rem;
        }

        td {
            color: #666;
            padding-bottom: 0.5rem;
        }
    }

    .eth {
        position: relative;
        top: -4.8rem;
        right: -11rem;
    }       
}

.nfts-smaller div {
    height: 277px;
}

.info-2 {
    background: url('assets/upsell-footer-image.svg') top 140px right -30px no-repeat;
    background-size: 12rem;
    height: 60vh;
    min-width: 200px;
    padding: 0 2rem;
    padding-top: 4rem;

    div {
        width: 200px;
    }
    
    h4 {
        color: rgb(212, 56, 116);
        font-size: 0.85rem;
        letter-spacing: 0.15rem;
        margin-bottom: 0;
    }
    
    h1 {
        font-size: 3.2rem;
        font-weight: 900;
        margin-top: 1rem;       
    }
    
    p {
        color: $light-black;
        font-size: 1.1rem;
        line-height: 1.5;
        padding-bottom: 1rem;
        max-width: 182px;        
    }
    
        // apvalaus mygtuko tvarkymas
    button {
        // mygtuko resetas  
        border: none;
        margin: 0;
        padding: 0;
        width: auto;
        line-height: normal;
        background: none;
        // mygtuko stylinimas 
        border: double 4px transparent;
        background-clip: content-box, border-box;
        background-image:
            linear-gradient(white, white),
            radial-gradient(circle at top left, $red, rgb(228, 171, 49));
        background-origin: border-box;
        border-radius: 50px;
        font-weight: bold;
        font-size: 1.2rem;
        height: 70px;
        position: relative;
        width: 180px;
    }
    a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: $pink;
    }
}
  
footer {  

       .logo-img {
        padding-top: 4rem;
        padding-left: $small-padding;
    }

    p {
        font-size: 1.25rem;
        font-weight: 400;
        padding-left: $small-padding;
    }

    div {
        padding-left: $small-padding;
    }

    div .logo-1 , .logo-2 , .logo-3 , .logo-4 {
        height: 1.3rem;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
    }

    table {
        padding: $small-padding;

        th {
            color: #555;
            font-weight: 700;
            padding: 2rem 6rem 1.5rem 0;
            text-align: left;
        }

        td {
            padding-bottom: 0.7rem;
        }

        td a {
            color: #555;
            font-weight: 400;
            text-decoration: none;
        }
    }

    .footer-flex {
        padding-left: 0;
    }

    .leftside-footer {
        padding: 2rem 0rem 0rem 0rem;
    }

    .desktop-table {
        display: none;
    }

    .end {
        height: 12vh;

        div {
            display: none;
        }

        aside {
            color: rgb(155, 154, 154);
            font-weight: 400;
            font-size: 1.1rem;
        }
    }
}

@media screen and (min-width: 768px) {

    hr.break {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    body {
        margin: 0 auto;
        max-width: 1200px;
        padding: $small-padding;
    }
  
    .header .hamburger {
        display: none;
    }

    header .menu-2 {
        display: inline;
        text-align: right;
        
        a {
            color: $light-black;
            padding-right: 1rem;
            text-decoration: none;
        }

        a:last-child {
            color: rgb(212, 56, 116);
            padding-right: 0;
        }
    }

    .info {
        background-size: 37rem;
        background-position: center right 2rem;
        height: 65vh;
        padding-bottom: 9rem;
    
        div {
            max-width: 500px;
        }
        
        h1 {
            font-size: 4.5rem;
            margin: 1.5rem 0rem;
        }
    }

    .offer {
        background-position: center;
        border-radius: 1rem;
        height: 7rem;
        margin: 0 2rem;
        padding-left: 3.5rem;
        padding-bottom: 40px;
              
    }

    .companies .logos .img-4 {
        display: flex;
    }

    .companies .logos {
        height: 14vh;
        grid-template-areas:
        "img-1 img-2 img-3 img-4 img-5";
        justify-content: space-between;
        padding-top: 6rem;
        }

    .nfts {
        display: flex;
        overflow: visible;
        white-space: normal;
            
        table {
             width: 87%;
        }

    }

    .nfts-smaller div {
        height: 244px;
    }

    .nfts .nfts-smaller img {
            height: 15.3rem;
            padding-right: 1.4rem;
    }

    .nfts .nfts-smaller .eth {
            height: 1.3rem;
            right: -9rem;
    }

    .info-2 {
        background-size: 11rem;
        background-position: center right 13rem;
        height: 65vh;

        div {
            width: 515px;
    
            h1 {
                padding-top: 1rem;
            }
            
            p {
                max-width: 90%;
            }
        }
    }

    footer table {
        display: none;
    }

    footer .desktop-table {
        display: flex;
        padding: 2rem 0rem 0rem 4rem;
    }

    .footer-flex {
        display: flex;
        justify-content: space-between;
    }

    footer .leftside-footer {
        padding-left: $small-padding;
        padding-bottom: $small-padding;
    }

    .leftside-footer .logo-img {
        padding-top: 3rem;
    }

    .leftside-footer img {
        padding-left: 0;
    }

    .leftside-footer p {
        padding-left: 0;
    }

    .leftside-footer div {
        padding-left: 0;
    }

    footer .end {
        align-items: flex-end;
        display: flex;
        height: 16vh;
        justify-content: space-between;
        padding-bottom: 1.5rem;

        div {
            color: rgb(155, 154, 154);
            display: flex;
            font-weight: 400;
            font-size: 1.1rem;
            padding-right: $small-padding;
        }
    }
}